[submodule "home-robot"]
	path = home-robot
	url = https://github.com/facebookresearch/home-robot.git
[submodule "Grounded-Segment-Anything"]
	path = Grounded-Segment-Anything
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything.git
